log/
xhtml/
packages/
obj/
_site/
Tools/NuGet/
_site/
maml/
updatablehelp/


.openpublishing.build.mdproj
.openpublishing.buildcore.ps1
packages.config
**/.ignore/**
*.orig
_themes/
dependentPackages/
.optemp/
