_site/
_themes/
.DS_Store
.openpublishing.build.mdproj
.openpublishing.buildcore.ps1
.optemp/
*.orig
**/.ignore/**
dependentPackages/
log/
maml/
obj/
packages.config
packages/
Tools/NuGet/
updatablehelp/
xhtml/
**/settings.json
