name: Targeting Valid Branch
on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
jobs:
  Test:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
    if: github.base_ref == 'maint/gha-branch-validation'
    steps:
      - name: Authorized to Target Live Branch?
        env:
          GITHUB_TOKEN: ${{ secrets.VALID_BRANCH_TOKEN }}
        run: |
          $Owner = '${{ github.event.pull_request.base.repo.owner.login}}'
          $Repo  = '${{ github.event.pull_request.base.repo.name }}'
          $Actor = '${{ github.event.pull_request.user.login }}'

          $ResultString = gh api repos/$Owner/$Repo/collaborators/$Actor/permission
          $ExitCode = $LASTEXITCODE
          if ($ExitCode -ne 0) {
            throw "GitHub API call failed with exit code ${ExitCode}:`n$ResultString"
          }

          $Permissions = $ResultString
          | ConvertFrom-Json
          | Select-Object -Property @{ Name = 'Permissions' ; Expression = { $_.user.permissions } }
          | Select-Object -ExpandProperty Permissions

          echo "Author '$Actor' has permissions:`n$($Permissions | Format-List | Out-String)"

          if ($Permissions.admin -or $Permissions.maintain) {
            echo "Author has permissions to target ${{ github.base_ref }}"
          } else {
            throw "Author does not have permissions to target ${{ github.base_ref }}"
          }
